main{

	&.page-not-found{
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color_rubric_filters_panel_not_found ;
		font: 14px $font_popup_title_regular;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6{
			margin: 0 0 5px;
			color: $color_rubric_filters_panel_not_found ;
			font: bold 30px $font_popup_title_regular;
			letter-spacing: 0.7px;
			text-transform: none;
		}

		.message{
			margin: 60px 0 0;
			padding: 0 0 0 170px;
			background: url(../img/bg/bg_404.png) 0 0 no-repeat;
			background-size: 160px 62.5px;

			p{
				margin: 0 0 28px;
			}
		}
	}
}