.rubric_mini{
	height: 88px;
	width: 170px;
	position: relative;
	float: left;
	margin: 4px;
	padding: 170px 0 0;
	text-align: center;
	background: $color_product_bg;
	box-shadow: 1px 1px 0 $color_product_mini_box_shadow;

	.figure_photo{
		height: 160px;
		width: 150px;
		position: absolute;
		top: 10px;
		left: 10px;
		overflow: hidden;
		margin: 0;

		a{
			height: 150px;
			width: 150px;
			position: relative;
			display: block;
			overflow: hidden;
			margin: 0 auto;
			padding: 0 0 10px;
			z-index: 2;

			img{
				height: auto;
				width: 150px;
				display: block;
				border: 0;
			}
		}
	}

	.name{
		height: 51px;
		max-height: 51px;
		position: relative;
		overflow: hidden;
		margin: 18px 16px 0;
		display: -moz-box;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-moz-box-orient: vertical;
		-webkit-box-orient: vertical;
		box-orient: vertical;
		z-index: 2;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6{
			margin: 0;
			font: 13px $font_header_link;

			a{
				color: $color_catalog_product_name;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}

	&:hover{
		margin: 0;
		border: 4px solid $color_product_border_hover;
		border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path fill-rule='evenodd' fill='#A9A9A9' d='M9 8h1v1H9V8zM8 9h1v1H8V9zM9 10h1v1H9v-1zM10 9h1v1h-1V9zM11 8h1v1h-1V8zM11 10h1v1h-1v-1zM10 11h1v1h-1v-1zM8 11h1v1H8v-1zM5 8h1v1H5V8zM4 9h1v1H4V9zM5 10h1v1H5v-1zM6 9h1v1H6V9zM7 8h1v1H7V8zM7 10h1v1H7v-1zM6 11h1v1H6v-1zM4 11h1v1H4v-1zM1 8h1v1H1V8zM0 9h1v1H0V9zM1 10h1v1H1v-1zM2 9h1v1H2V9zM3 8h1v1H3V8zM3 10h1v1H3v-1zM2 11h1v1H2v-1zM0 11h1v1H0v-1zM9 0h1v1H9V0zM8 1h1v1H8V1zM9 2h1v1H9V2zM10 1h1v1h-1V1zM11 0h1v1h-1V0zM11 2h1v1h-1V2zM10 3h1v1h-1V3zM8 3h1v1H8V3zM9 4h1v1H9V4zM8 5h1v1H8V5zM9 6h1v1H9V6zM10 5h1v1h-1V5zM11 4h1v1h-1V4zM11 6h1v1h-1V6zM10 7h1v1h-1V7zM8 7h1v1H8V7zM1 4h1v1H1V4zM0 5h1v1H0V5zM1 6h1v1H1V6zM2 5h1v1H2V5zM3 4h1v1H3V4zM3 6h1v1H3V6zM2 7h1v1H2V7zM0 7h1v1H0V7zM5 0h1v1H5V0zM4 1h1v1H4V1zM5 2h1v1H5V2zM6 1h1v1H6V1zM7 0h1v1H7V0zM7 2h1v1H7V2zM6 3h1v1H6V3zM4 3h1v1H4V3zM1 0h1v1H1V0zM0 1h1v1H0V1zM1 2h1v1H1V2zM2 1h1v1H2V1zM3 0h1v1H3V0zM3 2h1v1H3V2zM2 3h1v1H2V3zM0 3h1v1H0V3z'/></svg>");
		border-image-slice: 4;
		border-image-repeat: round;
		border-image-width: 4px;
		z-index: 2;
	}
}